*{
  box-sizing: border-box;
}

.site-card-wrapper{
  padding: 8px;
}

.card-wrapper{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  margin:10px 10px !important;
}
.input-box-wrapper{
  width:100%;
  text-align: center;
  margin: 10px 0px;
}

.input-box-wrapper Input{
  width:60%;
  padding: 5px 10px;
}

.loading-wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.site-card-border-less-wrapper {
  box-sizing: border-box;
  /* padding: 40px; */
  /* background: #ececec; */
  /* width:850px; */
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.ant-card{
  margin: 0 auto;
}
.card-wrapper{
  margin: 0 auto;
}

.filter-wrapper{
  box-sizing: border-box;
  width:100%;
  margin: 5px 50px;

}

